QISMsgVaultWeb/Service References/MsgVaultSvc/MsgVaultService42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/MsgVaultWeb/MsgVaultService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/QISMsgVaultWeb.Web" />
  <xs:element name="GetAllEmails">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEmailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/QISMsgVaultWeb.Web" minOccurs="0" name="GetAllEmailsResult" nillable="true" type="q1:ArrayOfMongoMail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmailsPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmailsPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/QISMsgVaultWeb.Web" minOccurs="0" name="GetEmailsPageResult" nillable="true" type="q2:ArrayOfMongoMail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/QISMsgVaultWeb.Web" minOccurs="0" name="msg" nillable="true" type="q3:MongoMail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadEmailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/QISMsgVaultWeb.Web" minOccurs="0" name="user" nillable="true" type="q4:VaultUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emailaddr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/QISMsgVaultWeb.Web" minOccurs="0" name="GetUserByEmailResult" nillable="true" type="q5:VaultUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/QISMsgVaultWeb.Web" minOccurs="0" name="user" nillable="true" type="q6:VaultUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>