QISMsgVaultWeb/Service References/MsgVaultSvc/MsgVaultService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MsgVaultService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="FileTransferServicesBinding_IMsgVaultService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:NegotiateAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/MsgVaultWeb/MsgVaultService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/MsgVaultWeb/MsgVaultService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/MsgVaultWeb/MsgVaultService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/QISMsgVaultWeb.Web" />
      <xsd:import schemaLocation="http://localhost/MsgVaultWeb/MsgVaultService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MongoDB.Bson" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMsgVaultService_GetAllEmails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEmails" />
  </wsdl:message>
  <wsdl:message name="IMsgVaultService_GetAllEmails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEmailsResponse" />
  </wsdl:message>
  <wsdl:message name="IMsgVaultService_GetEmailsPage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmailsPage" />
  </wsdl:message>
  <wsdl:message name="IMsgVaultService_GetEmailsPage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmailsPageResponse" />
  </wsdl:message>
  <wsdl:message name="IMsgVaultService_UploadEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadEmail" />
  </wsdl:message>
  <wsdl:message name="IMsgVaultService_UploadEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IMsgVaultService_CreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="IMsgVaultService_CreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IMsgVaultService_GetUserByEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByEmail" />
  </wsdl:message>
  <wsdl:message name="IMsgVaultService_GetUserByEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IMsgVaultService_UpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="IMsgVaultService_UpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IMsgVaultService">
    <wsdl:operation name="GetAllEmails">
      <wsdl:input wsaw:Action="http://tempuri.org/IMsgVaultService/GetAllEmails" message="tns:IMsgVaultService_GetAllEmails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMsgVaultService/GetAllEmailsResponse" message="tns:IMsgVaultService_GetAllEmails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmailsPage">
      <wsdl:input wsaw:Action="http://tempuri.org/IMsgVaultService/GetEmailsPage" message="tns:IMsgVaultService_GetEmailsPage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMsgVaultService/GetEmailsPageResponse" message="tns:IMsgVaultService_GetEmailsPage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IMsgVaultService/UploadEmail" message="tns:IMsgVaultService_UploadEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMsgVaultService/UploadEmailResponse" message="tns:IMsgVaultService_UploadEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IMsgVaultService/CreateUser" message="tns:IMsgVaultService_CreateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMsgVaultService/CreateUserResponse" message="tns:IMsgVaultService_CreateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IMsgVaultService/GetUserByEmail" message="tns:IMsgVaultService_GetUserByEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMsgVaultService/GetUserByEmailResponse" message="tns:IMsgVaultService_GetUserByEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IMsgVaultService/UpdateUser" message="tns:IMsgVaultService_UpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMsgVaultService/UpdateUserResponse" message="tns:IMsgVaultService_UpdateUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FileTransferServicesBinding_IMsgVaultService" type="tns:IMsgVaultService">
    <wsp:PolicyReference URI="#FileTransferServicesBinding_IMsgVaultService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllEmails">
      <soap:operation soapAction="http://tempuri.org/IMsgVaultService/GetAllEmails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmailsPage">
      <soap:operation soapAction="http://tempuri.org/IMsgVaultService/GetEmailsPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadEmail">
      <soap:operation soapAction="http://tempuri.org/IMsgVaultService/UploadEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://tempuri.org/IMsgVaultService/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByEmail">
      <soap:operation soapAction="http://tempuri.org/IMsgVaultService/GetUserByEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/IMsgVaultService/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MsgVaultService">
    <wsdl:port name="FileTransferServicesBinding_IMsgVaultService" binding="tns:FileTransferServicesBinding_IMsgVaultService">
      <soap:address location="http://localhost/MsgVaultWeb/MsgVaultService.svc/mex" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>